body {
	background-color: rgb(176,196,222);
	background-image: url(http://i60.tinypic.com/42cqu.png);
	background-repeat: repeat-y;
	background-position: center;
}

.welcome {
	font-size: 200%;
	color: rgb(255,255,255);
	text-align: center;
}