body {
	background-color: rgb(176,196,222);
	background-image: url(http://i60.tinypic.com/42cqu.png);
	background-repeat: repeat-y;
	background-position: center;
	color: rgb(64,64,64);
}

.welcome {
	font-size: 200%;
	text-align: center;
}

.welcome h1 {
	font-family: "Indie Flower", sans-serif;
}
.project {
	font-family: 'Open Sans', sans-serif;
}